<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工作展示</title>
    <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
    <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .top{
            height:150px;
        }
        .main{
            height:80vh;
        }
        .item{
            margin:20px 20px 0 0;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="top">
        <fieldset>
            <legend>菜单</legend>
            <el-select v-model="account" placeholder="请选择">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>

            <el-button-group>
                <el-button type="success" round @click="changeView" data-kind="day">按天展示</el-button>
                <el-button type="success" round @click="changeView" data-kind="week">按周展示</el-button>
                <el-button type="success" round @click="changeView" data-kind="month">按月展示</el-button>
            </el-button-group>

            <el-button-group>
                <el-button type="primary" icon="el-icon-arrow-left" @click="changeDate" data-date="prev">上一页</el-button>
                <el-button type="primary" @click="changeDate" data-date="next">下一页<i class="el-icon-arrow-right el-icon--right"></i></el-button>
                <el-button type="primary" @click="changeDate" data-date="today">回到今天</el-button>
            </el-button-group>

            <el-date-picker
                    v-model="data_value"
                    type="date"
                    size="large"
                    placeholder="选择日期">
            </el-date-picker>
            <br>
            <span class="tags">
                <el-badge :value="schedules.created.length" class="item">
                  <el-button size="small" data-schedule="created" @click="changeSchedule">Created</el-button>
                </el-badge>
                <el-badge :value="schedules.assigned.length" class="item">
                  <el-button size="small" data-schedule="assigned" @click="changeSchedule">Assigned</el-button>
                </el-badge>
                <el-badge :value="schedules.finished.length" class="item">
                  <el-button size="small" data-schedule="finished" @click="changeSchedule">Finished</el-button>
                </el-badge>
                <el-badge :value="schedules.closed.length" class="item">
                  <el-button size="small" data-schedule="closed" @click="changeSchedule">Closed</el-button>
                </el-badge>
                <el-badge :value="schedules.canceled.length" class="item">
                  <el-button size="small" data-schedule="canceled" @click="changeSchedule">Canceled</el-button>
                </el-badge>
                <el-badge :value="schedules.noScore.length" class="item">
                  <el-button size="small" data-schedule="noScore" @click="changeSchedule">No score</el-button>
                </el-badge>
            </span>
        </fieldset>
    </div>
    <div class="main" id="calendar"></div>
</div>
<script>
    let data={
        assigned:[{
            name:'任务1',
            desc:'11111',
            startedTime:'2019-02-19 08:00',
            finishedTime:'2019-02-20 018:00'
        }],
        created:[],
        finished:[{
            name:'任务2',
            desc:'22222',
            startedTime:'2019-02-21 09:00',
            finishedTime:'2019-02-21 15:00'
        }],
        closed:[],
        canceled:[],
        noScore:[]
    }
    let color={
        assigned:'#EC7063',
        created:'#A569BD',
        finished:'#5DADE2',
        closed:'#27AE60',
        canceled:'#F5B041',
        noScore:'#7F8C8D'
    }
    // calendar分级，用来显示指定类型的schedules
    let calendarId={
        created:1,
        assigned:2,
        finished:3,
        closed:4,
        canceled:5,
        noScore:0
    }
    let app=new Vue({
        el:'#app',
        data:{
            // 挂载calendar实例,使用this.calendar或app.calendar访问
            calendar:null,
            // 存储请求到的数据data
            schedules:{
                created:[],
                assigned:[],
                finished:[],
                closed:[],
                canceled:[],
                noScore:[]
            },
            // 用户列表
            options:[{
                value: '选项1',
                label: '梅西'
            }, {
                value: '选项2',
                label: '齐达内'
            }],
            // 选中的用户名
            account: '',
            // 日历时间
            data_value: moment().valueOf()
        },
        watch: {
            data_value(val) {
                this.calendar.setDate(val)
            },
            account(val) {
                // 在这里渲染schedule，每当选择的用户发生变化，首先清空视图，然后重新发起请求获取数据进行渲染
                this.calendar.clear()
                let keys=Object.keys(data)
                keys.forEach(item=>{
                    this.schedules[item]=data[item].map((value,index)=>{
                        return {
                            id: index,
                            calendarId: calendarId[item],
                            title: value.name,
                            body: value.desc,
                            category: 'time',
                            dueDateClass: '',
                            start: value.startedTime,
                            end: value.finishedTime,
                            isReadOnly:true,
                            bgColor:color[item]
                        }
                    })
                })
                // 默认只渲染finished的项目
                this.calendar.createSchedules(this.schedules['finished'])
            }
        },
        created() {
            // 在这里创建连接，发送post请求
        },
        beforeMount() {
            // 在这里获取用户列表，以[{value:'',label:''}]的形式返回数据，替换this.options
        },
        mounted() {
            // DOM元素挂载之后渲染calendar实例
            this.calendar = new tui.Calendar(document.getElementById('calendar'), {
                defaultView: 'week',
                taskView: false,
                scheduleView: true,
                useCreationPopup: true,
                useDetailPopup: true,
                disableClick :true,
                disableDblClick:true,
                template: {}
            });
        },
        methods:{
            // 改变calendar展示类型
            changeView(event) {
                let kind = event.currentTarget.getAttribute('data-kind')
                this.calendar.changeView(kind)
            },
            // 控制calendar的翻页功能
            changeDate(event) {
                let date = event.currentTarget.getAttribute('data-date')
                if(date === 'today'){
                    this.data_value=moment().valueOf()
                }else{
                    let viewKind=this.calendar.getViewName()
                    if(date==='prev'){
                        computer.apply(this,[-1,viewKind+'s'])
                    }else{
                        computer.apply(this,[1,viewKind+'s'])
                    }
                }
                this.calendar[date]()

                function computer(n,str) {
                    this.data_value=moment(this.data_value).add(n,str).valueOf()
                }
            },
            // 控制显示的schedule类型
            changeSchedule(event){
                if(this.calendar){
                    this.calendar.clear()
                    this.calendar.createSchedules(this.schedules[event.currentTarget.getAttribute('data-schedule')])
                }
            }
        }
    })
</script>
</body>
</html>